body{
    display: flex;
    align-items: center;
}


#contenedor{
    border: 5px;
    border-style: solid;
    border-color: black;
    height: 200x;
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.cuadrado{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rojo{
    background-color: red;
}

#azul{
    background-color:blue;
}

#verde{
    background-color:green;
}

p {
    display: flex;
    position: relative;
    font-size: 20px;
    color: white;
}